/* Setting global styles for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Styling the container element */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;

    /* This code sets the width, minimum height, background color, text color, and padding for the container element. */
}

/* Styling the heading within the container */
.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;

    /* This code sets the display, alignment, font size, and font weight for the heading within the container. */
}

/* Styling the image within the heading */
.container h1 img {
    width: 60px;

    /* This code sets the width for the image within the heading. */
}

/* Styling the image within the button */
.container button img {
    width: 25px;
    margin-right: 8px;

    /* This code sets the width and margin for the image within the button. */
}

/* Styling the button within the container */
.container button {
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;

    /* This code sets the display, alignment, background color, text color, font size, border, border radius, padding, margin, and cursor for the button within the container. */
}

/* Styling the input box */
.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;

    /* This code sets the position, width, maximum width, minimum height, background color, text color, padding, margin, and border radius for the input box. */
}

/* Styling the image within the input box */
.input-box img {
    width: 25px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    right: 25px;

    /* This code sets the width, position, cursor, and bottom and right margins for the image within the input box. */
}

.note {
    position: relative;
}

.input-box {
    position: relative;
}

.delete-btn {
    width: 25px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    right: 25px;
    user-select: none;
}

.star-icon {
    width: 25px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    left: 405px;
    user-select: none;
}

.signature {
    /* Signature styles */
    text-align: right; /* Right align the text */
    color: white; /* Set the text color */
    font-family: "Arial"; /* Set the font family */
    padding-right: 10px;
    padding-bottom: 10px;
}
